/*:root{
    --color-texto: #FAF8F0;
    --color-fondo: #dee2e6;
    --fuente-texto: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #1d293a;
    color: var(--color-texto);
    text-align: left;
    padding: 15px 20px;
    
}

body {
    font-family: var(--fuente-texto);
    background-color: var(--color-fondo);
    color: var(--color-texto);
    line-height: 1.6;
}

footer {
    background-color: #1d293a;
    color: var(--color-texto);
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
*/